.App {
  text-align: center;
}

.container{
  width: 97%;
  height: 95vh;
  margin: 10px auto 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgb(243, 243, 243);
}

.header{
  width: 98%;
  height: 20%;
  background: #fff;
  position: relative;
  top: 10px;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
  box-sizing: content-box;
}

.row{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heading{
  font-size: 48px;
  color: rgb(243, 243, 243);
}
.alternate__row{
  width: 98%;
  height: 68vh;
  margin: 0 auto 0 auto;
  background: #fff;
}

.heading--alternate{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: content-box;
  font-size: 52px;
}

.row__flex{
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.row__flex--1{
  flex:1;
}
.row__flex--2{
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right:50px; 
}
.navlink{
  padding: 5px;
}
